@font-face {
    font-family: Roboto;
    
}
body{
    display: flex;
    flex-direction: column;
    margin: 5rem 3rem;
    font-family: Roboto;
}
p{
    margin: 0.5rem 0;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 75%;
  }
  td, tr {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  h1, h2, h3, h4 {
      color: #1b2f5a;
      text-transform: capitalize;
      margin: 0.5rem 0;
  }
  h1, h2, h3, h4, h5 {
    color: #1b2f5a;
    margin: 0.5rem 0;
}

.block-txt{
    line-height: 1.7rem;
    margin: 0.5rem 0;
}
