:not(:defined) > * {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #424242;
}

.website-body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
  background-image: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
  opacity: 1;
  animation: vignetteFadeOut 1s ease-in-out forwards;
}

.vignette-effect::before {
  opacity: 0;
  animation: vignetteFadeIn 1s ease-in-out forwards;
}

@keyframes vignetteFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes vignetteFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.logo-container {
    /*background-color: #e30613;*/
  position: absolute;
  z-index: 2;
  display: flex;
}

.logo-responsive {
  max-width: 3em;
  border-radius: 0px 0px 12px 0px;
  display: block;
}

model-viewer {
  width: 100%;
  height: 100%;
}

.Hotspot {
  position: relative;
  z-index: 2;
  background-color: rgba(45, 45, 45, 0.3);
  border: none;
  color: white;
  padding: 6px 6px;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
  font-size: 13px;
  margin: 10px 10px;
  cursor: pointer;
  font-weight: bold;
  -webkit-backdrop-filter: blur(10px);
  border: 2px solid #ffffff;
  border-radius: 100%;
}

.Hotspot:not([data-visible]) {
  background: transparent;
  border: 4px solid #fff;
  box-shadow: none;
  height: 24px;
  pointer-events: none;
}

.Hotspot:focus {
  border: 2px solid rgb(228, 7, 21);
  height: 32px;
  outline: none;
}

.Hotspot > * {
  opacity: 1;
  /*transform: translateY(-50%);*/
}

.HotspotAnnotation{
  background: #7c7c7c;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  color: rgb(255 255 255);
  display: block;
  font-family: Futura, Helvetica Neue, sans-serif;
  font-size: 10px;
  font-weight: 400;
  /*left: calc(100% + 1em);*/
  max-width: 100%; /*300*/
  /*overflow-wrap: break-word;*/
  padding: 0.5em 1em;
  position: absolute;
  /*top: 50%;*/
  width: max-content;
  /*transform: translate(-30%, 30px);
  left: 130%;*/
}

.Hotspot:not([data-visible]) > * {
  opacity: 0;
  pointer-events: none;
  transform: translateY(calc(-50% + 4px));
  transition: transform 0.3s, opacity 0.3s;
}

.left-half {
  /*background-color: #ff9e2c;*/
  position: absolute;
  left: 10%;
  width: 40px;
  height: 40px;
  top: 50%;
  z-index: 2;
}

.right-half {
  /*background-color: #b6701e;*/
  position: absolute;
  right: 10%;
  width: 40px;
  height: 40px;
  top: 50%;
  text-align: -webkit-right;
  z-index: 2;
}

.NavigationButton {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: none;
  font-weight: bold;
  font-size: larger;
  color: white;
  -webkit-backdrop-filter: blur(10px);
  border: 2px solid #ffffff;
  background-color: rgba(45, 45, 45, 0.3);
}


.progress-bar {
  display: block;
  width: 33%;
  height: 10%;
  max-height: 2%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 25px;
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.5);
}

.progress-bar.hide {
  visibility: hidden;
  transition: visibility 0.3s;
}

.update-bar {
  background-color: rgba(255, 255, 255, 0.9);
  width: 0%;
  height: 100%;
  border-radius: 25px;
  float: left;
  transition: width 0.3s;
}

.ResetButton {
  background-color: rgba(45, 45, 45, 0.3);
  color: white;
  padding: 10px 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  display: flex;
  font-size: 13px;
  text-transform: uppercase;
  margin: 10px 10px;
  border-radius: 2em;
  cursor: pointer;
  font-weight: bold;
  position: absolute;
  z-index: 2;
  bottom: 0px;
  -webkit-backdrop-filter: blur(10px);  
  border: 2px solid #ffffff;
}

.ResetButton img {
  width: 20px;
  height: 20px;
}

#interpolate-button {
  position: absolute;
  z-index: 2;
  bottom: 10%;
  background-color: rgba(45, 45, 45, 0.3);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
  font-size: 13px;
  margin: 10px 10px;
  cursor: pointer;
  font-weight: bold;
  -webkit-backdrop-filter: blur(10px);  
  border: 2px solid #ffffff;
  border-radius: 2em;
  gap: 10px;
}

#interpolate-button img {
  width: 20px;
  height: 20px;
}

#score {
  position: absolute;
  z-index: 1;
  color: white;
  font-size: 15px;
  font-weight: bold;
  bottom: 80%;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  font-family: Arial Rounded MT Bold;
}

.round-time-bar {
  margin: 1rem;
  overflow: hidden;
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.round-time-bar div {
  height: 5px;
  animation: roundtime calc(var(--duration) * 1s) steps(var(--duration))
    forwards;
  transform-origin: left center;
  background: linear-gradient(to bottom, red, #900);
}

.round-time-bar[data-style="smooth"] div {
  animation: roundtime calc(var(--duration) * 1s) linear forwards;
}

@keyframes roundtime {
  to {
    /* More performant than `width` */
    transform: scaleX(0);
  }
}

@keyframes circle {
  from { transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg); }
  to   { transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg); }
}

